*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.bigred{
	font-size: 20px;
	color: red;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.wraper{
    min-height: 100%;
    overflow: hidden;
     display: flex;
    flex-direction: column;
} 
.container{
    max-width: 1180px ;
    margin: 0 auto;
}
.content {
    flex: 1 1 auto;
}
.hi{
    background-color: rgba(45, 49, 65, 0.735);
    padding: 50px 0;
}
.hi__row{
    display: flex;
    justify-content: space-between;
}
.hi__body{
    color: aliceblue;
}
.hi__title{
    font-size: 60px;
    margin: 0px 0px 38px 0px;
}
.hi_list li{
    background: url(img/icon.png) no-repeat ;
    font-size: 20px;
    padding: 0px 0px 0px 36px;
    margin: 0px 0px 18px 0px;
}
.hi_list li:last-child{
    margin: 0px;
}
.title{
   
    font-size: 30px;
    color: black;
    line-height: 36px;
}
.what{
    padding: 50px 0px;
}
.what__row{
    display: flex;
}
.what__image{
    flex: 0 0 430px;
}
.what__image img{
    max-width: 100%;
}
.what__body{
    flex: 1 1 auto;
    padding: 0px 0px 0px 38px;
}

.what__title{
    margin: 0px 0px 33px 0px;

}
.what__text{
    
}
.what__text p{
    font-size:16px ;
    line-height: 24px;
    margin: 0px 0px 25px 0px;

}
.colums{}

.colums__title{
    text-align: center;
    margin: 0px 0px 30px 0px;
}
.colums__row{
    display: flex;
    }
.coloms__colomn{
    flex: 1 0 50%;
}
.item_row{
    display: flex;
}
.item_image{
    flex: 0 0 200px
}
.item__body{
    flex: 1 1 auto;
    padding: 0px 0px 0px 15px;
}
.footer{
    background-color: rgb(245, 244, 219);

}
.footer__row{   
     display: flex;
    height: 65px;
    align-items: center;
    justify-content: center;

}
.footer__text{
    font-size: 12px;
    letter-spacing: 0.3px;
}